hr{ color: red;}
.App {
  text-align: center;
  background-image: url(http://localhost:3000/background.jpg);
  background-size: 100%;
}
.App-logo {
  height: 20vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: rgb(0, 0, 0);
}

.App-sobre{
  margin-left: 20%;
  margin-right: 20%;
}
.logo{
  float: left;
}
.titulo{
  color: rgb(0, 0, 0);
}
#link{
  color:rgba(211, 7, 7, 0.719);
  text-decoration: none;
  position: absolute;
  margin-left: 10%
}

